<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TouchPanel</title>
        <style>
            @import url("https://fonts.googleapis.com/css?family=Poppins");

            body {
                margin: 0.3em;
                font-family: "Poppins";
                background-color: rgb(53, 50, 50);
                color: rgb(243, 243, 243);
            }
        </style>
        <script>
            window.btn_data = decodeURIComponent("{{ btnData }}");

            function selectElement(id, valueToSelect) {
                // https://stackoverflow.com/a/78945
                let element = document.getElementById(id);
                element.value = valueToSelect;
            }

            document.addEventListener("DOMContentLoaded", function () {
                selectElement("icon", "{{ icon }}");
                selectElement("action", "{{ action }}");
                const url = new URL(window.location.href);
                window.new = false;
                if (url.searchParams.get("mode") != "edit") {
                    document.getElementById("delete").style.display = "none";
                    window.new = true;
                }
                document
                    .getElementById("delete")
                    .addEventListener("click", function () {
                        window.location.href =
                            "/edit/deletebtn?id=" +
                            url.searchParams.get("id") +
                            "&page=" +
                            url.searchParams.get("page");
                    });
            });

            function copyToClipboard() {
                navigator.clipboard
                    .write([
                        new ClipboardItem({
                            "text/plain": new Blob([window.btn_data], {
                                type: "text/plain",
                            }),
                        }),
                    ])
                    .then(
                        function () {
                            alert("Button copied to clipboard.");
                        },
                        function (error) {
                            alert(
                                "Unable to write to clipboard. Error: " + error
                            );
                        }
                    );
            }

            async function importFromClipboard() {
                if (!window.new) {
                    if (
                        await !confirm(
                            "This will overwrite the current button. Continue?"
                        )
                    ) {
                        return;
                    }
                }
                setTimeout(async function () {
                    // Workaround for NotAllowedError: document not focused
                    try {
                        const clipboardContents =
                            await navigator.clipboard.readText();
                        btn_data = await JSON.parse(clipboardContents);
                        selectElement("icon", btn_data.icon);
                        selectElement("action", btn_data.action);
                        document.getElementById("name").value = btn_data.name;
                    } catch (error) {
                        console.error("Error", error);
                        alert("Failed to load button. Error: " + error);
                    }
                }, 100);
            }
        </script>
    </head>
    <body>
        {% if not isNew %}
        <button onclick="copyToClipboard()">Copy Button</button>
        {% endif %}
        <button onclick="importFromClipboard()">
            Import Button From Clipboard
        </button>
        <button onclick="window.close()">Cancel</button>
        <button id="delete">Delete</button> <br /><br /><br />
        <form action="" method="POST">
            <p>Button name</p>
            <input
                name="name"
                id="name"
                type="text"
                max="32"
                required
                value="{{ name }}"
            />
            <br /><br />
            <p>Button action</p>
            <select name="action" id="action">
                {% for a in actions %}
                <option vaule="{{ a }}">{{ a }}</option>
                {% endfor %}
            </select>
            <br /><br />
            <p>Button icon</p>
            <select name="icon" id="icon">
                {% for i in icons %}
                <option vaule="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br /><br /><br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
